*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

h4 {
  color: #ececec;
  margin: 0;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.2em;
}

nav {
  font-weight: 600;
  font-size: 0.8rem;
}

ul {
  display: flex;
  gap: 1em;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #000000;
}

.featured {
  position: relative;
}

.background-div img {
  width: 100%;
  height: auto;
}

.content-div {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 0;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 90%;
}

.content-div p {
  margin: 0;
  width: 100%;
}

.article {
  width: 100%;
}

.article p {
  margin: 0;
}

.articles div img {
  width: 100%;
}

.articles {
  display: grid;
  gap: 1em 0;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    "........ ........ ........"
    "........ ........ ........"
    "........ article1 ........"
    "........ article2 ........"
    "........ article3 ........"
    "........ article4 ........"
    "........ article5 ........"
    "........ article6 ........";
  margin: 0;
  padding: 0;
}

.article-1 {
  grid-area: article1;
}

.article-2 {
  grid-area: article2;
}

.article-3 {
  grid-area: article3;
}

.article-4 {
  grid-area: article4;
}

.article-5 {
  grid-area: article5;
}

.article-6 {
  grid-area: article6;
}

.view-more {
  margin: 0;
  text-align: center;
  margin-bottom: 4em;
}

.view-more a {
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
}

footer {
  text-align: center;
  background: #202020;
  color: #ececec;
  margin: 0;
  padding: 50px 0;
}

footer p {
  margin: 0;
}

/* About Me Custom Styles */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.about-me img {
  width: 182px;
  margin-right: 2em;
}

.content-section {
  padding: 1em;
}

.posts-heading{
    text-align: center; 
    margin-top: 1em;
}

.recent-posts {
  display: grid;
  gap: 1em 0;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    "........ ........ ........"
    "........ article1 ........"
    "........ article2 ........"
    "........ article3 ........"
    "........ ........ ........"
    "........ ........ ........";
  margin: 0;
  padding: 0;
}

.recent-posts div img {
    width: 100%;
  }

/* Media */
@media (min-width: 600px) {
  nav {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .content-div {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .articles {
    gap: 2em;
    grid-template-columns: 2em repeat(3, 1fr) 2em;
    grid-template-areas:
      "........ ........ ........ ........ ........"
      "........ ........ ........ ........ ........"
      "........ article1 article2 article3 ........"
      "........ ........ ........ ........ ........"
      "........ article4 article5 article6 ........"
      "........ ........ ........ ........ ........"
      "........ ........ ........ ........ ........";
    margin: 0;
  }

  .header img {
    width: 2em;
    height: 2em;
    padding-right: 0.25em;
  }

  header {
    padding: 1em 4em;
  }

  .content-div {
    left: 4em;
    bottom: 4em;
  }

  .content-div {
    width: 65%;
  }

  /* About Me */

  .about-me {
    padding: 4em;
    flex-direction: row;
  }

  .content-section {
    padding: 0 7em;
  }

  .posts-heading{
    margin-top: 2em;
}

  .recent-posts {
    gap: 2em;
    grid-template-columns: 2em repeat(3, 1fr) 2em;
    grid-template-areas:
      "........ ........ ........ ........ ........"
      "........ article1 article2 article3 ........"
      "........ ........ ........ ........ ........"
      "........ ........ ........ ........ ........";
    margin: 0;
  }

}
